--
-- PostgreSQL database dump
--

\restrict QlpAR3cHLYbTpW1aaCJjaRdBTFaGVVvDv63GwXyZvGXu26x5BopVjmqb5t6Ysoj

-- Dumped from database version 18.3
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: departments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.departments (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(200) NOT NULL,
    level integer NOT NULL,
    parent_id uuid,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.departments OWNER TO postgres;

--
-- Name: TABLE departments; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.departments IS '╨а╨О╨бтАЪ╨б╨В╨б╤У╨а╤Ф╨бтАЪ╨б╤У╨б╨В╨а┬░ ╨а╤Х╨бтАЪ╨а╥С╨а┬╡╨а┬╗╨а╤Х╨а╨Ж ╨а╤Х╨б╨В╨а╤Ц╨а┬░╨а╨Е╨а╤С╨а┬╖╨а┬░╨бтАа╨а╤С╨а╤С';


--
-- Name: COLUMN departments.level; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.departments.level IS '1=╨а╤Ы╨а╤Ф╨б╨В╨б╤У╨а┬╢╨а╨Е╨а╤Х╨атДЦ, 2=╨а╨О╨б╤У╨а┬▒╨б╨Й╨а┬╡╨а╤Ф╨бтАЪ╨а╤Х╨а╨Ж╨бтА╣╨атДЦ, 3=╨а╤Ъ╨а┬╡╨б╨Г╨бтАЪ╨а╨Е╨бтА╣╨атДЦ';


--
-- Name: COLUMN departments.parent_id; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.departments.parent_id IS '╨а╨О╨б╨Г╨бтА╣╨а┬╗╨а╤Ф╨а┬░ ╨а╨Е╨а┬░ ╨а╨Ж╨бтА╣╨бтВм╨а┬╡╨б╨Г╨бтАЪ╨а╤Х╨б╨П╨бтА░╨а╤С╨атДЦ ╨а╤Х╨бтАЪ╨а╥С╨а┬╡╨а┬╗';


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    surname character varying(100) NOT NULL,
    name character varying(100) NOT NULL,
    patronymic character varying(100),
    department_id uuid,
    comment text,
    password_hash character varying(255) NOT NULL,
    is_approved boolean DEFAULT false,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: COLUMN users.department_id; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.users.department_id IS '╨а╨О╨б╨Г╨бтА╣╨а┬╗╨а╤Ф╨а┬░ ╨а╨Е╨а┬░ ╨а╤Х╨бтАЪ╨а╥С╨а┬╡╨а┬╗ ╨а╤Ч╨а╤Х╨а┬╗╨б╨К╨а┬╖╨а╤Х╨а╨Ж╨а┬░╨бтАЪ╨а┬╡╨а┬╗╨б╨П';


--
-- Data for Name: departments; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: departments departments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.departments
    ADD CONSTRAINT departments_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_departments_level; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_departments_level ON public.departments USING btree (level);


--
-- Name: idx_departments_parent; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_departments_parent ON public.departments USING btree (parent_id);


--
-- Name: idx_users_approved; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_approved ON public.users USING btree (is_approved) WHERE (is_approved = false);


--
-- Name: idx_users_department; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_department ON public.users USING btree (department_id);


--
-- Name: idx_users_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_name ON public.users USING btree (surname, name, patronymic);


--
-- Name: departments departments_parent_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.departments
    ADD CONSTRAINT departments_parent_id_fkey FOREIGN KEY (parent_id) REFERENCES public.departments(id) ON DELETE CASCADE;


--
-- Name: users fk_users_department; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT fk_users_department FOREIGN KEY (department_id) REFERENCES public.departments(id);


--
-- PostgreSQL database dump complete
--

\unrestrict QlpAR3cHLYbTpW1aaCJjaRdBTFaGVVvDv63GwXyZvGXu26x5BopVjmqb5t6Ysoj

